@import "font_awesome5";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "will_paginate";

/* === Default ===================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, a:hover,
a:active,
button:hover {
  text-decoration: none;
  color:inherit;
}
.no-hover > a:hover { color:white; }
/* ================ Default ends === */

/* === Display flex ================ */
.align-items-center {
  align-items: center
}

.center { text-align:center }

.d-flex { display:flex; }

.vertical-center {vertical-align: center}

.flex-col { flex-direction:column; }

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}
/* =========== Display flex ends === */

/* === Colors ====================== */
// Background-color
.bg-dark {
  background-color: #2E2F30
}

// Text-color
.text-light {color:#F5F5F5FF}
.text-white {color: #FFFFFF;}

// Supremo colors
.supremo-bg-dark {
  background-color: #2B3D47;
}

.supremo-bg-gray {
  background-color: #f8f8f8;
}

.supremo-table-top-color {
  background-color: #F3F2F7;
}

.nav li a:hover{
  background-color: #2B3D47;
  color: #EFEFEF;
}

td button:hover, a:hover {
  background-color: #EFEFEF;
  color: #2B3D47;
}

.supremo-btn-gray {
  background-color: #2B3D47;
  :hover {
    background-color: black;
  }
}
/* ================== Colors ends === */

/* === Size ======================== */
.supremo-navbar-size {
  max-height: 62px;
}

.supremo-size-actions-button {
  width: 2px;
}

/*.navbar_logo_supremo {
  max-width: 35%;
}*/

/* ==================== Size ends === */

/* === Spacing ====================== */
.mt-10 {margin:10px}
.mt-10 {margin-top: 10px}
.pt-10 {padding-top: 10px}
.p-right-5 { padding-right:5px; }
.ml-10 { padding-left:10px; }
/* ================== Spacing ends === */

.supremo-hover-click { cursor:pointer; }
