@import "font_awesome5";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "will_paginate";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* === Default =============================== */

:root {
  --first-color: #5E5873;
  --second-color: #6E6B7B;
}

.first-color { color: var(--first-color)}
.second-color { color: var(--second-color)}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: var(--first-color);
  font-weight: 600;
  position: relative;
}

h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

th {
  font-size: 12px;
  letter-spacing: 1px;
}

td {
  color:var(--second-color);
  font-size: 14px;
  font-weight: 400;
}

a,
li,
button {
  text-decoration: none;
  list-style: none;
}

a, a:hover,
a:active,
button:hover {
  text-decoration: none;
  color:inherit;
  background-color: transparent;
}

// Flash: _system_alerts
.alert {
  position: absolute;
  top: -12px;
  right: 10px;
}

// Font
.semi-bold {
  font-weight: 600;
  line-height: 21px;
}

.no-hover > a:hover { color:white; }
/* ================ Default ends ============= */

/* === Display flex ========================== */
.align-items-center {
  align-items: center
}

.center { text-align:center }

.d-flex { display:flex; flex-wrap:nowrap; }

.vertical-center {vertical-align: center}

.flex-col { flex-direction:column; }

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}
/* =========== Display flex ends ============= */

/* === Colors ================================ */
// Background-color
.bg-dark {
  background-color: #2E2F30
}

// Text-color
.text-light {color:#F5F5F5FF}
.text-white {color: #FFFFFF;}

// Supremo colors
.supremo-bg-dark {
  background-color: #2B3D47;
}

.supremo-bg-gray {
  background-color: #f8f8f8;
}

.nav li a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  background-color: #2B3D47;
  color: #EFEFEF;
}

td button:hover, a:hover {
  background-color: #EFEFEF;
  color: #2B3D47;
}

.supremo-btn-gray {
  background-color: #2B3D47;
  :hover {
    background-color: black;
  }
}

.opacity-50 { opacity: .5 }
/* ================== Colors ends ============ */

/* === Spacing =============================== */
.mt-10 {margin-top: 10px}
.mr-10 {margin-right: 10px}
.mb-10 {margin-bottom:10px}
.ml-10 {margin-left: 10px}

.p-10 {padding: 10px}
.pt-10 {padding-top: 10px}
.pr-10 {padding-right: 10px}
.pl-10 {padding-left: 10px}
/* ================== Spacing ends =========== */

.supremo-btn-identified {
  border-radius: 10px;
  background: rgba(40, 199, 111, 0.2);
  color: rgb(40, 199, 111);
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supremo-btn-unidentified {
  border-radius: 10px;
  background: rgba(255, 159, 67, 0.2);
  color: rgb(255, 159, 67);
  width: 100px ;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supremo-box-show {
  border-radius: 10px;
  box-shadow: 1px 2px 15px 6px rgba(0,0,0,0.15);
  background: #FFFFFF;
  padding: 15px 20px 0px 20px;
  width: 830px;
  height: 450px;
}
.supremo-box-edit {
  border-radius: 10px;
  box-shadow: 1px 2px 15px 6px rgba(0,0,0,0.15);
  background: #FFFFFF;
  padding: 0px 20px 0px 20px;
  width: 830px;
  height: 500px;
}

.left { float:left; }
.right { float:right; }

.transparent {
  background-color: transparent;
  color: inherit;
  :hover { background-color:transparent; }
}

@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }
  75% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }

}
.post {
  background-color: #77dd11;
  padding: 20px;
  margin-bottom: 10px;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}