.supremo_pagination {
  text-align: center;
  cursor: default;
  .disabled { color:#aaaaaa; }

  a, span, em
  { padding:0.2em 0.5em;}

  a {
    color: #6E6B7B;
    background-color: #F3F2F7;
    text-decoration: none;
    border: none;
    border-radius: 25px;
  }

  a:hover, a:focus {
    border-color: #2B3D47;
    background: #BABFC7;
    color: white;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    color: #F3F2F7;
    background-color: #2B3D47;
    border: none;
    border-radius: 25px;
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }

  .previous_page {
    font-weight: bold;
    background-color: transparent;
  }

  .next_page {
    font-weight: bold;
    background-color: transparent;
  }
}